.main {
  background-image: url('../images/homePageBackground.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
}

.container {
  text-align: center;
  position: relative;
  height: 900px;
}

.envelope {
  margin: auto;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 30px;
  height: auto;
  width: 670px;
  transform: translateX(-380px) rotate(-75deg);
}

.invitation {
  position: absolute;
  top: 75px;
  left: 50%;
  width: 440px;
  height: auto;
  transform: translateX(-220px) rotate(3deg);
}

@media (max-width: 500px) {
  .invitation {
    width: 400px;
    transform: translateX(-200px) rotate(3deg);
  }

  .envelope {
    width: 603px;
    transform: translate(-342px) rotate(-75deg);
  }
}
