.main {
  background-image: url('../images/homePageBackground-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
}

.container {
  text-align: center;
  position: relative;
  height: 900px;
}

.envelope {
  margin: auto;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 10px;
  height: auto;
  width: 670px;
  transform: translateX(-380px) rotate(-75deg);
}

.invitation {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 440px;
  height: auto;
  transform: translateX(-220px) rotate(3deg);
}

.actionsContainer {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .container {
    height: 720px;
  }

  .invitation {
    width: calc(100% - 20px);
    max-width: 400px;
    transform: translateX(-200px);
    transform: translateX(calc(-50%));
  }

  .envelope {
    width: 603px;
    transform: translate(-342px) rotate(-75deg);
  }

  .actionsContainer {
    bottom: 50px;
  }
}

@media (max-width: 420px) {
  .envelope {
    width: 150%;
    transform: translate(-56%) rotate(-75deg);
  }

  .actionsContainer {
    bottom: calc(470px - 100vw);
  }
}
